<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3> Let's see just how goddamn slow your goddamn page is.</h3>

	<ul>
		<% for(var i=0; i<sites.length; i++) {%>
		   <li><%= sites[i].url %>: <%= sites[i].time%> seconds.</li>
		<% } %>
	</ul>


  </body>
</html>